<!-- Search Bar Area -->
<div class="d-flex justify-content-center align-items-center py-3 mb-3 border-bottom search-container">
   <!-- Mobile Toggle -->
   {{ formImageButton(searchForm.get('mobile-sidebar-toggle')) | safe }}

   {{ form().openTag(searchForm) }}
    {{ formHidden(searchForm.get('layout')) | safe }}
    {{ formHidden(searchForm.get('sort')) | safe }}
    <div class="input-group-prepend">
      <span class="input-group-text bg-transparent border-0">
         <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
      </span>
    </div>
    {{ formText(searchForm.get('q'), { value: searchQuery | e }) | safe }}
    <div id="search-clear-wrapper" class="input-group-append align-items-center justify-content-center" style="display: none;">
      {{ formImageButton(searchForm.get('search-clear')) | safe }}
    </div>
  {{ form().closeTag() }}
</div>
