<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    {# ---------- Bootstrap: synchronous to prevent CLS ---------- #}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    {# ---------- Module/Controller CSS (On-Demand) ---------- #}
    {{ onDemandCss() | safe }}
  </head>
  <body>
    
    <!-- Main Content Area -->
    <main id="main-content" tabindex="-1" style="padding: 0px !important;">
      {% block content %}
      {% endblock %}
    </main>
    
      
    <!-- Footer -->
    <footer class="footer mt-5 bg-light border-top">
        
    </footer>

    {# ---------- Scripts ---------- #}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    
    {# ---------- Module/Controller JS (On-Demand) ---------- #}
    {{ onDemandJs() | safe }}
  </body>
</html>
